<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    {{>header}}
    <img class="portrait"src="./img/istockphoto-1359585151-170667a.jpg">
     {{>footer}}
</body>
</html>